* {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-style: normal;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html {
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: 100%;
}

html,
body {
  width: 100%;
  height: 100%;
}

#app {
  width: 100%;
  height: 100%;
  font-size: 0.37333rem;
}

.order {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.order-top {
  width: 100%;
  height: 1.86667rem;
  background: #fff;
}

.order-top dl {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  box-sizing: border-box;
}

.order-top dl dt {
  flex: 2;
}

.order-top dl dt p {
  width: 1.28rem;
  height: 1.28rem;
  margin: 0 auto;
}

.order-top dl dt p img {
  width: 100%;
  height: 100%;
}

.order-top dl dd {
  flex: 8;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
}

.order-top dl dd div {
  flex: 8;
}

.order-top dl dd div h4 {
  font-size: 0.42667rem;
  font-weight: 500;
}

.order-top dl dd div h6 {
  font-size: 0.32rem;
  color: #ccc;
  margin-top: 0.08rem;
}

.order-top dl dd span {
  flex: 2;
  height: 100%;
}

.order-top dl dd span img {
  width: 100%;
  height: auto;
  font-size: 0.26667rem;
}

.order-bottom {
  display: flex;
  flex: 1;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.menu-left {
  background: #f3f5f7;
  color: #5C5E5B;
}

.menu-left li {
  font-size: 0.37333rem;
  text-align: center;
  padding: 0.53333rem 0.26667rem;
  border-bottom: 1px solid #ccc;
  font-weight: 800;
}

.menu-left li.current {
  background: #fff;
}

.menu-left li:nth-last-child(1) {
  border: none;
}

.menu-right {
  background: #fff;
  padding: 0.48rem 0 0 0.32rem;
}

.menu-right .food-list .title {
  padding-left: 0.21333rem;
  height: 0.58667rem;
  line-height: 0.58667rem;
  border-left: 2px solid #41BA73;
  font-size: 0.32rem;
  color: #5C5E5B;
  font-weight: 600;
}

.menu-right .food-list .food-item {
  display: flex;
  padding: 0.21333rem 0.4rem 0.16rem 0;
  border-bottom: 1px solid #ccc;
}

.menu-right .food-list .food-item .icon {
  flex: 0 0 1.52rem;
  margin: 0.10667rem 0.26667rem 0.26667rem 0;
}

.menu-right .food-list .food-item .icon img {
  width: 100%;
  height: 100%;
}

.menu-right .food-list .food-item .content {
  flex: 1;
}

.menu-right .food-list .food-item .content .name {
  margin: 0.13333rem 0 0.18667rem 0;
  font-size: 0.37333rem;
  line-height: 0.53333rem;
  color: #07111b;
  font-weight: 800;
}

.menu-right .food-list .food-item .content .desc {
  font-size: 0.26667rem;
  line-height: 0.26667rem;
  color: #93999f;
}

.menu-right .food-list .food-item .content .price {
  font-weight: 700;
  line-height: 0.64rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-right .food-list .food-item .content .price .now {
  margin-right: 8px;
  font-size: 0.37333rem;
  color: #f01414;
}
